/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

#home-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__card {
    max-width: 343px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    color: var(--color-title);
    box-shadow: 0px 4px 4px 0px #00000040;

    @media screen and (min-width: 960px) {
        max-width: 460px;
    }

}