.order__card__plan-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-backgroud);
    border-radius: 16px;
    padding: 1em 1.5em;
    margin: 1em;
    margin-top: 2.1em;

    @media screen and (min-width: 960px) {
        margin-top: 2.6em;
        padding-inline: 2em;
    }


    &__i {
        border-right: 1px solid var(--color-stroke);
        padding-right: 1.5em;
        padding-left: 0;

        @media screen and (min-width: 960px) {
            font-size: 1.3rem;
        }
    }

    &__middle {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-inline: 1.5em;
        gap: 0.1em;

        @media screen and (min-width: 960px) {
            gap: 0.3em;
            padding-inline: 2.2em;
        }

        &__plan {
            font-weight: 700;

            @media screen and (min-width: 960px) {
                font-size: 1.125rem;
            }
        }

        &__price {
            font-weight: 500;
            font-size: 0.75rem;
            color: var(--color-body);
            letter-spacing: -0.2px;

            @media screen and (min-width: 960px) {
                font-size: 0.875rem;
            }
        }
    }

    &__change-a {
        color: var(--color-primary);
        font-weight: 700;
        font-size: 0.875rem;
        text-decoration: none;
        border-bottom: 1px solid var(--color-primary);

        @media screen and (min-width: 960px) {
            font-size: 1rem;
            line-height: 1.2;
        }
    }
}