/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Manrope', sans-serif;
  background-color: #F8F9FE;
}

#home-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 4px #00000025;

  .image {
    background: url(../../public/images/AdobeStock_3318305151.png);
    height: 200px;
    width: 150%;
    background-position: center;
    background-size: cover;
  }

  .title {
    font-size: 1.5rem;
    color: #151827;
    font-weight: 700;
    margin: 1em;
  }

  .desc {
    font-size: 0.875rem;
    color: #85859B;
    text-align: center;
    margin: 0 2em 1em 2em;
  }

  .plan-box {
    background-color: #F8F9FE;
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 1em;
    padding: 1em;
    border-radius: 16px;
    color: #151827;

    i {
      border-right: 1px solid #CFD1DD;
      padding: 1em;

    }

    .plan {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-inline: 1em;
      font-weight: 700;

      .price {
        color: #85859B;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }

    .change-a {
      font-size: 0.875rem;
      font-weight: 700;
    }

  }

  button {
    margin: 1em;
    background-color: #680262;
    border: 0;
    color: white;
    padding: 1.2em;
    border-radius: 16px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    align-self: stretch;
    display: flex;
    justify-content: center;
    gap: 1em;

    .load {
      height: 24px;
      display: none;
    }
  }

  button:hover {
    background-color: #490245;
  }

  .cancel-a {
    font-size: 0.875rem;
    color: #151827;
    font-weight: 700;
    margin: 1em 0em 2em;
  }

}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  .content {
    max-width: 460px;

    .image {
      width: 100%;
    }
  }

}